# JavaScript files (e.g., .js)
# *.js linguist-detactable=false
*.js linguist-generated=true

# ASP.NET files (e.g., .aspx, .cshtml, .ashx)
*.aspx text linguist-language=ASP.NET
*.cshtml text linguist-language=ASP.NET
*.ashx text linguist-language=ASP.NET

# CSS files (e.g., .css)
*.css text linguist-language=CSS

# PHP files (e.g., .php)
*.php text linguist-language=PHP

# C# files (e.g., .cs)
*.cs text linguist-language=C#
